h2{
    color:rgb(213, 85, 85);
    background-color: rgb(107, 85, 85);
    text-align:center;
    width:75%;
}

.form-select{
    color:rgba(17, 18, 17, 0.525);
    font-weight:900;
    width:75%;
    text-align:center;
}

textarea{
    width:75%;
}


#submit_button {
    color: crimson;
    background-color: beige;
}

