/* スマートフォン画面用のスタイル */
@media screen and (max-width: 480px) {
    h2, .form-select, textarea {
        width: 100%; /* 幅を100%に設定 */
        margin: 0 auto; /* 左右の余白を自動的に設定してセンタリング */
        text-align: center; /* テキストを中央寄せ */
        box-sizing: border-box; /* paddingやborderを含めた要素のサイズを指定 */
    }
}

/* 全ての要素の角を丸くする */
.container,
.custom-heading,
.form-select,
.form-textarea {
    border-radius: 5px; /* 丸みの強さを指定 */
}

