button {
    background-color:#B6B6B0;  
}
/* フッター内の質問するボタンのスタイル */
.db-footer {
    position: fixed;
    bottom: 20px; /* 画面下からの距離を調整 */
}

/* 質問するボタンの共通スタイル */
.ask-question-btn {
    float: right; /* 右側に浮動 */
    margin-right: 20px; /* 画面右からの距離を調整 */ display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #43C660;
    color:#000000;
    text-decoration: none;
}
