<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='question_dblog.css') }}" >
</head>

<body>
        <a href="/">質問画面に戻る</a>

    <form id="select-content" method="post">
        <h2>学部選択</h2> 
        <select name="faculty_r" class="form-select"> 
            <option value="情報工学部情報工学科">
                情報工学部情報工学科
            </option>
            <option value="都市情報学部都市情報学科">
                都市情報学部都市情報学科
            </option>
        </select>
    </form>


        {% for answer_log_data in answer_log_data_list %}
        <!-- テーブル形式で回答データを表示 -->
        <p>
            <table border="1">
                <tbody>
                    <tr>
                        <td rowspan="1" nowrap>アイコン</td>
                        <td>{{ answer_log_data["date"] }}(日付)</td>
                        <td>{{ answer_log_data["faculty"] }}</td><!--学部-->
                    </tr>
                    <tr>
                        <td nowrap>質問内容</td>
                        <td colspan="2">{{ answer_log_data["question"]|safe }}</td><!--質問内容-->
                    </tr>
                    <tr>
                        <td><button>♡</button></td><!--♡ボタン-->
                        <td colspan="2"><button style="float: right; margin-right: 5%;">返信</button></td><!--返信ボタン-->
                    </tr>
                </tbody>
            </table>
        </p>
        {% endfor %}
</body>

</html>