<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿画面</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='question_dblog.css') }}" >-->
</head>

<style>/*「質問する」に関してはここを編集*/

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
            }

    button {
            background-color:#B6B6B0;  
        }

    .db-footer {
        position: fixed;
        bottom: 0;
        width: 5%;
        /* background-color: #f0f0f0; フッターの背景色 */
        background-color: #43C660;
        color: #000000;
        padding: 10px 20px; /* 適切な余白を追加 */
        margin-bottom:50px;/*下に余白35pxを入れる*/
        border-radius: 10px;
        text-decoration: none;
        left: 500px;
    }
    .push{
        height: 80px;
    }
</style>

<style>
    /* テーブル内の特定のセルに背景色を適用 */
    table td {
        padding: 5px; /* セルの余白を設定 */
    }

    table {
        border-collapse: collapse; /* セルの境界線を結合して一本化 */
    }

    td, th {
        border: none; /* セルの境界線を削除 */
    }
</style>


<body>

    {% include 'header.html' %}

    <form id="select-content" method="post">
        <h2>学部選択</h2> 
        <select name="faculty_r" class="form-select"> 
            <option value="情報工学部情報工学科">
                情報工学部情報工学科
            </option>
            <option value="都市情報学部都市情報学科">
                都市情報学部都市情報学科
            </option>
        </select>
        <div>
            <button type="submit" id="select_button">学部選択</button>
        </div>

    </form>
    <div id="answer_text"></div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const button = document.getElementById("select_button");
            const form = document.getElementById("select-content");
            const answerText = document.getElementById("answer_text");

            console.log(answerText); // this is just for debugging

            form.addEventListener("submit", event => {
                // prevent the form from submitting normally
                event.preventDefault();

                const faculty_r = form.faculty_r.value;
                const postData = {
                    "faculty_r": faculty_r
                };

                // making a POST request to the "/dbselect" endpoint
                fetch("/dbselect", {
                    method: "POST",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify(postData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data || !data.answer) {
                        throw new Error('Invalid response data');
                    }

                    // reflecting the answer data to the text box
                    answerText.innerHTML = data.answer;
                })
                .catch(error => {
                    // error handling
                    console.error('Error:', error);
                })
                .finally(() => {
                    console.log("request complete!")
                });
            });
        });
    </script>

<div class="-wrapper">
        {% for question_log_data in question_log_data_list %}
        <!-- テーブル形式で回答データを表示 -->
        <script>
            var colorArray = new Array("#C1EFB9","#B9E8EE","#F2D5F3");
            var color = colorArray[Math.floor( Math.random() * colorArray.length)];
            // colorに色の変数が入っている
        </script>
        <p>
            <table border="1">
                <tbody>
                    <tr>
                        <td rowspan="1" nowrap id="selectedImage"><img src='{{ question_log_data["icon"] }}' width="25px"></td>
                        <td>{{ question_log_data["date"] }}</td>
                        <td>{{ question_log_data["faculty"] }}</td><!--学部-->
                    </tr>
                    <tr>
                        <td nowrap>質問内容</td>
                        <td colspan="2">{{ question_log_data["question"]|safe }}</td><!--質問内容-->
                    </tr>
                    <tr>
                        <td><!--↓♡ボタン↓-->
                            <button id="like-button-{{ question_log_data['id'] }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                </svg>{{ question_log_data['like'] }}
                            </button>
                        </td><!--↑♡ボタン↑-->
                        <footer class="an-footer">
                            <td colspan="2">
                                <button id="res_req" style="float: right; margin-right: 5%;">返信</button></td><!--返信ボタン-->
                        </footer>
                    </tr>
                </tbody>
            </table>
        </p>

        <script>
            // 「返信」ボタンのelementを取得 
            document.getElementById("res_req").
                addEventListener("click", ev => {

                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("answerpage", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "reid": "{{ question_log_data['id'] }}" })
                    })
                        .then(response => {
                            return response.json();
                        })
                        .then(data => {
                            answerText.innerHTML = data.answer;
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });


            // 「いいね」ボタンのelementを取得 
            document.getElementById("like-button-{{ question_log_data['id'] }}").
                addEventListener("click", ev => {
    
                    // 「いいね」ボタンを無効化
                    document.getElementById("like-button-{{ question_log_data['id'] }}").disabled = true;
    
                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("postlike", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "id": "{{ question_log_data['id'] }}" })
                    })
                        .then(response => {
                            // カウントアップ後の「いいね」を取得
                            return response.json();
                        })
                        .then(data => {
                            // カウントアップ後の「いいね」を「いいね」ボタンに反映
                            document.getElementById("like-button-{{ question_log_data['id'] }}").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16"><path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/></svg>' + data["result"];
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });
        </script>
    
        {% endfor %}
</div>
<footer class="db-footer">
    <a href="{{ url_for('home') }}" class="ask-question-btn">質問する</a>
</footer>
<div class="push"></div>


{% include 'footer.html' %}

</body>
</html>