<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>回答投稿画面</title>
</head>

<body>
    {% include 'header.html' %}

<form id="content-answer" method="post">
            
    <h2>学部選択</h2> <!--色、背景を変更-->
    <select name="faculty" class="form-select" > <!--中央寄せ-->
        <option value="情報工学部情報工学科">
            情報工学部情報工学科
        </option>
        <option value="都市情報学部都市情報学科">
            都市情報学部都市情報学科
        </option>

    </select>
    
    <h2>回答する</h2> <!--色、背景を変更-->
    <textarea name="answer_sentence" cols="50" rows="3" placeholder="例: この問題は○○だよ"
        required></textarea>

    <div>
        <button type="submit" id="submit_button">回答投稿</button>
        <button><a href="{{url_for('response_log')}}">回答を見る</a></button>
    </div>
</form>
<div id="response_text"></div>

<script>
        // elementを取得
        const button = document.getElementById("submit_button");
        const responseText = document.getElementById("response_text");
        const form = document.getElementById("content-answer");
        const question = sessionStorage.getItem("question")

// バックエンドに対して回答データを保存
form.addEventListener("submit", event => {
    // ページを移動する処理を抑制
    event.preventDefault();

    // ★formから選択された人物とテキストを取得
    const faculty = form.faculty.value;
    const answer_sentence = form.answer_sentence.value;
    // sessionStorage に保存したデータを取得
    const icon = sessionStorage.getItem("icon");
    const question = sessionStorage.getItem("question")
    console.log(question)
    
    // ★回答フォームに文字列を書き込み
    responseText.innerHTML = `${faculty}での回答：「${answer_sentence}」`;

    // ★質問時の情報をJSONに変換する。
    const postData = {
        "faculty": faculty,
        "answer_sentence": answer_sentence,
        "question": question,
        "icon": icon,
    };

// バックエンドに対して回答データをリクエスト
fetch("/response", {
    method: "POST",
    headers: {
        "Content-Type": "application/json; charset=utf-8",
    },
    body: JSON.stringify(postData)
})
    .then(response => {
        // 回答データをjson形式で取得
        return response.json();
    })
    .then(data => {
        // テキストボックスに回答データを反映
        responseText.innerHTML = data.response;
    })
    .finally(() => {
        console.log("request complete!");
    });
});
</script>

{% include 'footer.html' %}

</body>

</html>