<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>雑談画面</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='question_dblog.css') }}" >-->
</head>

<style>/*「雑談する」に関してはここを編集*/
    body {
        display: flex;
        justify-content: center;
        align-items: center;
            }

/* 絵文字ボタンの親要素に Flexbox を適用して均等に配置する */
table tr:last-child {
    display: flex;
    justify-content: space-between; /* 要素間の間隔を均等に */
}

/* 各絵文字ボタンのスタイル */
button[id^="like-button"] {
    border: none; /* 枠を削除 */
    background: none; /* 背景を透明に */
    cursor: pointer; /* カーソルをポインターに設定 */
    padding: 0; /* パディングをゼロに設定 */
    font-size: inherit; /* フォントサイズを継承 */
    flex: 1; /* 幅を均等にする */
    text-align: center; /* ボタン内のテキストを中央揃え */
}

/* 絵文字のボタンから枠を削除 */
    button[id^="like-button"] 
    {
        border: none; /* 枠を削除 */
        background: none; /* 背景を透明に */
        cursor: pointer; /* カーソルをポインターに設定 */
        padding: 0; /* パディングをゼロに設定 */
        font-size: inherit; /* フォントサイズを継承 */
    } 

    .db-footer {
        position: fixed;
        bottom: 0;
        width: 5%;
        /* background-color: #f0f0f0; フッターの背景色 */
        background-color: #43C660;
        color: #000000;
        padding: 10px 20px; /* 適切な余白を追加 */
        margin-bottom:50px;/*下に余白35pxを入れる*/
        border-radius: 10px;
        text-decoration: none;
        left: 500px;
    }

</style>

<body>

    {% include 'header.html' %}

    <div style="height: 50px;"></div>


    <form id="select-content" method="post">
        <h2>学部選択</h2> 
        <select name="faculty_r" class="form-select"> 
            <option value="情報工学部情報工学科">
                情報工学部情報工学科
            </option>
            <option value="都市情報学部都市情報学科">
                都市情報学部都市情報学科
            </option>
        </select>
        <div>
            <button type="submit" id="select_button">学部選択</button>
        </div>

    </form>
    <div id="answer_text"></div>

    <script>

        const button = document.getElementById("select_button");
        const form = document.getElementById("select-content");
        const answerText = document.getElementById("answer_text");


form.addEventListener("submit", event => {
    // ページを移動する処理を抑制
    event.preventDefault();


    const faculty_r = form.faculty_r.value;
         // 質問時の情報をJSONに変換する
    const postData = {
        "faculty_r": faculty_r
    };

    // バックエンドに対して回答データをリクエスト
    fetch("/dbselect", {
        method: "POST",
        headers: { "Content-Type": "application/json; charset=utf-8" },
        body: JSON.stringify(postData)
    })
    .then(response => {
        // 回答データをjson形式で取得
        return response.json();
    })
    .then(data => {
        // テキストボックスに回答データを反映
        zatudan_log_data_list = data.zatudan_log_data_list; // レスポンスからデータを取得
        console.log("zatudan_log_data_list"); // デバッグ用
        console.log(zatudan_log_data_list);
        answerText.innerHTML = data.answer;

    })
    .finally(() => {
        // 回答完了をログに残す
        console.log("request complete!")
    });
});
    </script>

<div class="-wrapper">
        {% for zatudan_log_data in zatudan_log_data_list %}
        <!-- テーブル形式で回答データを表示 -->
        <p>
            <table border="1">
                <tbody>
                    <tr>
                        <td rowspan="1" nowrap id="selectedImage"><img src='{{ zatudan_log_data["icon"] }}' width="25px"></td>
                        <td>{{ zatudan_log_data["date"] }}</td>
                        <td>{{ zatudan_log_data["faculty"] }}</td><!--学部-->
                    </tr>
                    <tr>
                        <td nowrap>質問内容</td>
                        <td colspan="2">{{ zatudan_log_data["question"]|safe }}</td><!--質問内容-->
                    </tr>
                    <tr>
                        <td>
                            <button id="like-button1-{{ zatudan_log_data['id'] }}">
                                😆{{ zatudan_log_data['like1'] }}
                            </button>
                        </td><!--ボタン1-->
                        <td>
                            <button id="like-button2-{{ zatudan_log_data['id'] }}">
                                😍{{ zatudan_log_data['like2'] }}
                            </button>
                        </td><!--ボタン2-->
                        <td>
                            <button id="like-button3-{{ zatudan_log_data['id'] }}">
                                😭{{ zatudan_log_data['like3'] }}
                            </button>
                        </td><!--ボタン3-->
                        <td>
                            <button id="like-button4-{{ zatudan_log_data['id'] }}">
                                😯{{ zatudan_log_data['like4'] }}
                            </button>
                        </td><!--ボタン4-->
                        <footer class="an-footer">
                            <td colspan="2">
                                <button style="float: right; margin-right: 5%;"><a href="{{ url_for('response') }}">返信</a></button></td><!--返信ボタン-->
                        </footer>
                    </tr>
                </tbody>
            </table>
        </p>

        <script>

            // 「いいね1」ボタンのelementを取得
            document.getElementById("like-button1-{{ zatudan_log_data['id'] }}").
                addEventListener("click", ev => {
    
                    // 「いいね」ボタンを無効化
                    document.getElementById("like-button1-{{ zatudan_log_data['id'] }}").disabled = true;
    
                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("zatulike1", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "id": "{{ zatudan_log_data['id'] }}" })
                    })
                        .then(response => {
                            // カウントアップ後の「いいね」を取得
                            return response.json();
                        })
                        .then(data => {
                            // カウントアップ後の「いいね」を「いいね」ボタンに反映
                            document.getElementById("like-button1-{{ zatudan_log_data['id'] }}").innerHTML = '😆' + data["result"];
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });

                // 「いいね2」ボタンのelementを取得
            document.getElementById("like-button2-{{ zatudan_log_data['id'] }}").
                addEventListener("click", ev => {
    
                    // 「いいね」ボタンを無効化
                    document.getElementById("like-button2-{{ zatudan_log_data['id'] }}").disabled = true;
    
                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("zatulike2", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "id": "{{ zatudan_log_data['id'] }}" })
                    })
                        .then(response => {
                            // カウントアップ後の「いいね」を取得
                            return response.json();
                        })
                        .then(data => {
                            // カウントアップ後の「いいね」を「いいね」ボタンに反映
                            document.getElementById("like-button2-{{ zatudan_log_data['id'] }}").innerHTML = '😍' + data["result"];
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });

                 // 「いいね3」ボタンのelementを取得
            document.getElementById("like-button3-{{ zatudan_log_data['id'] }}").
                addEventListener("click", ev => {
    
                    // 「いいね」ボタンを無効化
                    document.getElementById("like-button3-{{ zatudan_log_data['id'] }}").disabled = true;
    
                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("zatulike3", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "id": "{{ zatudan_log_data['id'] }}" })
                    })
                        .then(response => {
                            // カウントアップ後の「いいね」を取得
                            return response.json();
                        })
                        .then(data => {
                            // カウントアップ後の「いいね」を「いいね」ボタンに反映
                            document.getElementById("like-button3-{{ zatudan_log_data['id'] }}").innerHTML = ' 😭' + data["result"];
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });

                 // 「いいね4」ボタンのelementを取得
            document.getElementById("like-button4-{{ zatudan_log_data['id'] }}").
                addEventListener("click", ev => {
    
                    // 「いいね」ボタンを無効化
                    document.getElementById("like-button4-{{ zatudan_log_data['id'] }}").disabled = true;
    
                    // バックエンドに「いいね」のカウントアップをリクエスト
                    fetch("zatulike4", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "id": "{{ zatudan_log_data['id'] }}" })
                    })
                        .then(response => {
                            // カウントアップ後の「いいね」を取得
                            return response.json();
                        })
                        .then(data => {
                            // カウントアップ後の「いいね」を「いいね」ボタンに反映
                            document.getElementById("like-button4-{{ zatudan_log_data['id'] }}").innerHTML = ' 😯' + data["result"];
                        }).finally(() => {
                            console.log("request complete!");
                        });
                });

        </script>
    
        {% endfor %}
</div>
<footer class="db-footer">
    <a href="{{ url_for('zatudan') }}" class="ask-question-btn">雑談する</a>
</footer>
<div class="push"></div>


{% include 'footer.html' %}

</body>
</html>